@page
@model ItemsModel
@{
    ViewData["Title"] = "To Do Lists";
}

<h1>@Model.ToDoList.ListName Items</h1>

@foreach (var item in Model.ToDoList.Items)
{
    <div class="idea">
        <span>Created By: @item.UserName on @item.Created.ToLocalTime()</span>
        <span>Last Updated: @item.LastUpdated.ToLocalTime()</span>
        <div>
            @item.Title
        </div>
        <div>
            @item.Description
        </div>
        <div>
            @item.Completed
        </div>
        @if (User.Identity.IsAuthenticated && Model.CurrentApplicationUser.Id == @item.UserId)
        {
            <a asp-page="EditItem" asp-route-listId="@Model.ToDoList.Id" asp-route-itemId="@item.Id">edit</a>
            <a asp-page="DeleteItem" asp-route-listId="@Model.ToDoList.Id" asp-route-itemId="@item.Id">delete</a>
        }
    </div>
}
<hr />
<a asp-page="CreateItem" asp-route-id="@Model.ToDoList.Id">Add New Item</a>